{% extends "layout.html" %}
{% block body %}
<!-- ======= hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">

      <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url(static/img/hero-carousel/1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Empowering Safety with Vigilance</h2>
              <p class="animate__animated animate__fadeInUp">“Guardians Watch” emerges as a visionary project aimed at
                revolutionizing conventional surveillance approaches by harnessing the capabilities of modern
                technologies.
              </p>
              <a href="#services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url(static/img/hero-carousel/2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Guarding Your World</h2>
              <p class="animate__animated animate__fadeInUp">“Guardians Watch” emerges as a visionary project aimed at
                revolutionizing conventional surveillance approaches by harnessing the capabilities of modern
                technologies.</p>
              <a href="#services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url(static/img/hero-carousel/3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">The technology you can trust</h2>
              <p class="animate__animated animate__fadeInUp">“Guardians Watch” emerges as a visionary project aimed at
                revolutionizing conventional surveillance approaches by harnessing the capabilities of modern
                technologies.</p>
              <a href="#services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url(static/img/hero-carousel/4.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">We guard. We protect. We secure.</h2>
              <p class="animate__animated animate__fadeInUp">“Guardians Watch” emerges as a visionary project aimed at
                revolutionizing conventional surveillance approaches by harnessing the capabilities of modern
                technologies.</p>
              <a href="#services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
            </div>
          </div>
        </div>
       </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>About Us</h3>
        <p>“Guardians Watch” envisions a holistic approach that combines real-time video analysis with location
          tracking, enabling a proactive and precise security framework. By fusing these technologies, the project aims
          to enhance situational awareness, accelerate threat detection, and optimize resource allocation</p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="static/img/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              Our Mission is to revolutionize conventional surveillance approaches by providing comprehensive
              situational awareness, accelerating threat detection, optimizing resource allocation, and ensuring a
              proactive and precise security framework
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="static/img/about-plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Plan</a></h2>
            <p>
              Growing demand for innovative solutions that leverage modern technologies to enhance security and
              monitoring capabilities.“Guardians Watch” aims to develop a comprehensive and intelligent smart
              surveillance system with location tracking
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="static/img/about-vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              Creation and deployment of a sophisticated human monitoring system that incorporates facial recognition
              algorithms marks a noteworthy progression in the domains of security, access management, and other related
              fields spanning numerous sectors.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Featured Services Section Section ======= -->
  <!-- <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="bi bi-briefcase"></i>
            <h4 class="title"><a href="">Lorem Ipsum Delino</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="bi bi-card-checklist"></i>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>

          <div class="col-lg-4 box">
            <i class="bi bi-binoculars"></i>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>

        </div>
      </div>
    </section> -->
  <!-- End Featured Services Section -->

  <!-- ======= Services Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Services</h3>
        <p>Services that we are providing through "Guardians Watch".
        </p>
      </header>

      <div class="row">

        <div class="box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="/service1">Capture Images to Train Model</a></h4>
          <p class="description">To add images into database is neccessary to train the model based on that images. Person's image must be added in database before performing face recognition.</p>
        </div>
        <div class="box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="service2">Perform Face Recognition</a></h4>
          <p class="description">After Training model over captured images then continue with the Face Recognition</p>
        </div>
        <!-- <div class="box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href=""></a></h4>
          <p class="description"></p>
        </div> -->
        <!-- <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div> -->

      </div>

    </div>
  </section><!-- End Services Section -->




  <!-- ======= Team Section ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Team</h3>
        <p>Together we stand, together we fall. All for one and one for all!</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <img src="static/img/team/ishaan.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Ishan Mankar</h4>
                <span>Team Member</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/ishan-mankar-37773a228/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <img src="static/img/team/niraj.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Niraj Bondarde</h4>
                <span>Team Member</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/niraj-bondarde-bba862222/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <img src="static/img/team-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Amogh Gojamgunde</h4>
                <span>Team Member</span>
                <div class="social">
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <img src="static/img/team/harshada.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Harshada Gaikwad</h4>
                <span>Team Member</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/harshada-gaikwad-885525216"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3>Contact Us</h3>
        <p>Drop us a line. Get in touch. Reach out</p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="bi bi-geo-alt"></i>
            <h3>Address</h3>
            <address>AISSMS Institute Of Information Technology,Pune</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="bi bi-phone"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+91 9898989796">+91 9898989796</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p><a href="mailto:info@example.com">info@example.com</a></p>
          </div>
        </div>

      </div>

      <div class="form">
        <form action="/" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock %}