{% extends "layout.html" %}
{% block body %}

<!-- ======= Call To Action Section ======= -->
<section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
        <h3>Perform Face Recognition</h3>
    </div>
</section><!-- End Call To Action Section -->

<section id="service2">
    <div class="container text-center">
        <p>Attach video file to perform Face Recognition,If you didn't trained the model over images then first add with
            this <a href="/service1">link</a> </p>
    </div>

    <div class="form">
        <form method="post" class="faceRecognitionform" enctype=multipart/form-data>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file">
            </div>
            <div class="desc">
                {% with messages = get_flashed_messages()%}
                {% if messages%}
                    {% for message in messages%}<p>{{message}}</p>{%endfor%}
                {%endif%}
                {%endwith%}
            </div>
            <div class="text-center"><button type="submit" value=Upload>Start Face Recognition</button></div>
            <div class="desc">
            <p>Logs of recognized faces from attached video with confidence:</p>
        </div>
            <textarea id="log_textarea" name="logs" cols="100" rows="10" readonly>
            {% for line in b_lines %}
                {{ line }}
            {% endfor %}
            </textarea>
        </form>
    </div>
</section>
<!-- <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script> -->

{% endblock %}